<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="ProductName" value="芒宇智慧平安校园综合管理系统"/>
    <add key="TitleText" value="上海财经大学智慧平安校园管理系统"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MAP_PATH" value="E:\项目管理\新版本客户端\01 - Code\MapResource\"/>
    <add key="SERVER_URL_BASE" value="http://192.168.1.104:8088"/>
    <add key="IMAGE_URL_BASE" value="http://192.168.1.104:8080/Mango-WJM-Admin/"/>
    <add key="API_GET_ALL_DEVICE_LIST" value="/api/device/getAllDeviceList"/>
    <add key="API_GET_ALL_DEVICE_TYPE" value="/api/device/getAllDeviceType"/>
    <add key="API_GET_MAP" value="/api/map/selectMap"/>
    <add key="API_GET_MAP_LAYERS" value="/api/map/selectMapLayers"/>
    <add key="API_GET_MAP_ELEMENTS" value="/api/map/selectMapElements"/>
    <add key="API_DELETE_MAP_ELEMENTS" value="/api/map/deleteMapElements"/>
    <add key="API_INSERT_MAP_ELEMENTS" value="/api/map/insertMapElements"/>
    <add key="API_UPDATE_MAP_ELEMENTS" value="/api/map/updateMapElements"/>
    <add key="API_INSERT_MAP_LAYERS" value="/api/map/insertMapLayers"/>
    <add key="API_UPDATE_MAP" value="/api/map/updateMap"/>
    <add key="API_DELETE_MAP" value="/api/map/deleteMap"/>
    <add key="API_INSERT_MAP" value="/api/map/insertMap"/>
    <add key="API_UPDATE_MAP_LAYERS" value="/api/map/updateMapLayers"/>
    <add key="API_DELETE_MAP_LAYERS" value="/api/map/deleteMapLayers"/>
    <add key="API_SORT_INDEX_FOR_MAP" value="/api/map/sortIndexForMap"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
