<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ProductName" value="芒宇智慧平安校园综合管理系统"/>
    <add key="TitleText" value="上海复旦大学智慧平安校园管理系统"/>
    <add key="PlayerUrl" value="E:\项目管理\新版本客户端\01 - Code\ClientCode\ManagementProject\123.png"/>
    <add key="SpeechRate" value="0"/>
    <add key="SpeechVol" value="60"/>
    <add key="ServerIp" value="192.168.1.234"/>
    <add key="ServerPort" value="12001"/>
    <add key="SDKServerIp" value="192.168.1.199"/>
    <add key="SDKUserName" value="loadmin"/>
    <add key="SDKPassword" value="Admin123"/>
    <add key="NVRIP" value ="192.168.1.108"/>
    <add key="NVRPort" value ="37777"/>
    <add key="NVRUser" value="admin"/>
    <add key="NVRPassword" value="a1234567"/>
    <add key="NVRChannel" value="2"/>
    <add key="MAP_PATH" value="E:\项目管理\新版本客户端\01 - Code\MapResource\"/>
    <add key="SERVER_URL_BASE" value="http://192.168.1.234:8088"/>
    <add key="IMAGE_URL_BASE" value="http://192.168.1.234:8080/"/>
    <add key="API_GET_ALL_DEVICE_LIST" value="/api/device/getAllDeviceList"/>
    <add key="API_GET_ALL_DEVICE_TYPE" value="/api/device/getAllDeviceType"/>
    <add key="API_GET_ALL_DEVICE_TYPE_TREE" value="/api/device/getAllDeviceListForTree"/>
    <add key="API_GET_MAP" value="/api/map/selectMap"/>
    <add key="API_GET_MAP_LAYERS" value="/api/map/selectMapLayers"/>
    <add key="API_GET_MAP_ELEMENTS" value="/api/map/selectMapElements"/>
    <add key="API_UPDATE_MAP_ELEMENTS" value="/api/map/updateMapElements"/>
    <add key="API_UPDATE_MAP" value="/api/map/updateMap"/>
    <add key="API_UPDATE_MAP_LAYERS" value="/api/map/updateMapLayers"/>
    <add key="API_SORT_INDEX_FOR_MAP" value="/api/map/sortIndexForMap"/>
    <add key="API_GET_ALARM_COUNT" value="/api/history/getUntreatedAlarmCount"/>
    <add key="API_GER_UNTREATED_ALARM" value="/api/history/getUntreatedAlarm"/>
    <add key="API_GET_ALL_ERRORCAMERA" value="/api/cameraerror/getAllCameraError"/>
    <add key="API_GRT_ALL_ALARM" value="/api/history/getAllAlarmInformation"/>
    <add key="API_GET_ALL_SIGNAL" value="/api/signal/selectSignal"/>
    <add key="API_GET_CLIENT_MENU" value="/api/client/getClientMenu"/>
    <add key="API_GET_ALL_CLIENT_CONFIG" value="/api/pageLayout/querySystemClientList"/>
    <add key="API_GET_ALL_CLIENT_INFO" value="/api/client/getAllSystemClient"/>
    <add key="API_GET_ALARM_TYPE" value="/api/history/getAlarmType"/>
    <add key="API_GET_ALARM_LEVEL" value="/api/history/getAlarmLevel"/>
    <add key="API_GET_ALL_MODULE" value="/api/pageLayout/queryModule"/>
    <add key="API_GET_ALL_MODULECONFIG" value="/api/SystemList/getAllModuleContentList"/>
    <add key="API_GET_TEXTPLAN" value="/api/history/getResponsePlans"/>
    <add key="API_INSERT_TRACKER" value="/api/activity/addVehicleTracing"/>
    <add key="API_DELETE_TRACKER" value="/api/activity/deleteVehicleTracing"/>
    <add key="API_UPDATE_TRACKER" value="/api/activity/updateCarById" />
    <add key="API_GET_TRACKER" value="/api/activity/getAllVehicleTracing"/>
    <add key="API_GET_TRACKER_CAR" value="/api/activity/getCarByTime"/>
    <add key="API_GET_CAMERA" value="/api/device/getDeviceByCode"/>
    <add key="API_GET_ELEMENT_BYID" value="/api/device/getMapElementsById"/>
    <add key="API_GET_COLLAGE_CAMERA" value="/api/device/getSplitControlCamera"/>
    <add key="API_GET_ALL_DEVICE_COUNT" value="/api/device/getMapBuildInfo"/>
    <add key="API_GET_GAS_DEVICE" value="/api/device/getDeviceForGas"/>
    <add key="API_GET_WATER_DEVICE" value="/api/device/getWaterDevice"/>
    <add key="API_GET_ELECTRIC_DEVICE" value="/api/device/getDeviceForElectricity"/>
    <add key="API_GET_FIRE_ENGINE" value="/api/pageLayout/fireEngineModule"/>
    <add key="API_GET_ELEVATOR" value="/api/pageLayout/elevatorModule"/>
    <add key="API_GET_ESCAPE_CAMERA" value="/api/device/getEscapeRouteCamera"/>
    <add key="API_GET_SYSTEM_PARAMETER" value="/api/systemParameter/selectSystemParameter"/>
    <add key="API_GET_WATER_VALUE" value="/api/log/getAltWaterScopeByTime"/>
    <add key="API_DEVICE" value="/api/device/getWaterPressureSensor"/>
    <add key ="API_GET_CAMERA_PARAMETER" value ="/api/device/getCameraForParameterByMapId"/>
    <add key ="API_GET_CAMERA_BY_PARAMETER" value ="/api/device/getDeviceByMapIdAndLocalAttr"/>
    <add key ="API_GET_ROOMACCESS_BY_CODE" value ="/api/device/getDeviceListByDeviceCode"/>
    
    <add key="API_GET_ERROR_DEVICE_COUNT" value="/api/welcome/getByDeviceClassCount"/>
    <add key="API_GET_ERROR_DEVICE_TYPE_COUNT" value="/api/welcome/getByDeviceTypeCount"/>
    <add key="API_GET_EVENT_COUNT" value="/api/welcome/getEventCount"/>
    <add key="API_GET_EVENT_BYTYPE" value="/api/welcome/getByEventType"/>
    <add key="API_GET_EVENT_RATE" value="/api/welcome/getTheEventRate"/>    
    <add key="API_GET_BUILDING_COUNT" value="/api/welcome/getBuildingDistributionByDeviceType"/>
    <add key="API_GET_BUILDING_COUNT_BY_CLASS" value="/api/welcome/getBuildingDistributionByDeviceClass"/>
    <add key="API_GET_EVENT_RATE_BYTYPE" value="/api/welcome/getOccurrenceTrendByDeviceType"/>
    <add key="API_GET_EVENT_RATE_BYCLASS" value="/api/welcome/getOccurrenceTrendByDeviceClass"/>
    <add key="API_GET_ERROR_DEVICE_BYTYPE" value="/api/welcome/getErrorDeviceListByDeviceType"/>
    <add key="API_GET_ERROR_DEVICE_BYCLASS" value="/api/welcome/getErrorDeviceListByDeviceClass"/>
    <add key="API_GET_ERROR_RATE" value="/api/welcome/getDeviceNormalProbability"/>
    <add key="API_GET_ERROR_TIME_BYTYPE" value="/api/welcome/getDerviceErrorByDeviceTypeCode"/>
    <add key="API_GET_ERROR_TIME_BYCLASS" value="/api/welcome/getDerviceErrorByDeviceClass"/>
    
    <!--拼控-->
    <add key="API_INSERT_SCENE_LIST" value="/api/systemPinkongResource/insertSceneList" />
    <add key="API_Query_SCENE_LIST" value="/api/systemPinkongResource/querySceneList" />
    <add key="API_DELETE_SCENE_LIST" value="/api/systemPinkongResource/delSceneList" />

    <add key="API_INSERT_PlAN_ROTATION" value="/api/systemPinkongResource/insertPlanPoling" />
    <add key="API_DELETE_PlAN_ROTATION" value="/api/systemPinkongResource/delPlanPoling" />
    <add key="API_QUERY_PlAN_ROTATION" value="/api/systemPinkongResource/queryPlanPoling" />
    <add key="API_UPDATE_PlAN_ROTATION" value="/api/systemPinkongResource/updatePlanPoling" />
    <add key="API_QUERY_ALL_ENCODERS" value="/api/client/getEncoder" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
